# Environnement de déploiement pour IANOVA
# Copiez ce fichier en .env et personnalisez les valeurs.

POSTGRES_DB=ianova_db
POSTGRES_USER=ianova_user
POSTGRES_PASSWORD=ianova_password

REDIS_URL=redis://redis:6379/0
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=http://minio:9000

DJANGO_SECRET_KEY=ianova-super-secret-key-prod-change-me
DJANGO_SETTINGS_MODULE=ianova_project.settings.base
